# Python cache #
################
*.pyc
__pycache__

# Editor files #
################
.idea
*~

# IPython #
###########
*.ipynb

cache/
*.mp4
*.png

# Include examples and reports #
####################
!reports/**